<p id="notice"><%= notice %></p>

<p>
  <strong>English common name:</strong>
  <%= @plant.english_common_name %>
</p>

<p>
  <strong>Other common names:</strong>
  <%= @plant.other_common_names %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @plant.latin_name %>
</p>

<p>
  <strong>Family names:</strong>
  <%= @plant.family_names %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @plant.origin %>
</p>

<p>
  <strong>Uses:</strong>
  <%= @plant.uses %>
</p>

<p>
  <strong>Cultivation:</strong>
  <%= @plant.cultivation %>
</p>

<p>
  <strong>Harvesting and seed production:</strong>
  <%= @plant.harvesting_and_seed_production %>
</p>

<p>
  <strong>Pests and diseases:</strong>
  <%= @plant.pests_and_diseases %>
</p>

<p>
  <strong>Cooking and nutrition:</strong>
  <%= @plant.cooking_and_nutrition %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @plant.categories %>
</p>

<%# link_to 'Edit', edit_plant_path(@plant) %> |
<%# link_to 'Back', plants_path %>
